OracleODBEEHome/
.\temp\*
temp/etc/sysconfig/network
temp\agentID.txt
temp/etc/hostname
temp/etc/hosts
temp/etc/iscsi/initiatorname.iscsi
temp/etc/ssh/sshd_config
temp/etc/sysconfig/network
temp/agentID.txt
